# Site settings
title: mc's blog
description: tech blog
author: mc

# URL settings
url: "https://blog.mchotguy.pro"
baseurl: ""

# Build settings
markdown: kramdown
theme: minima

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md

# Permalink structure
permalink: /:title/

# Pagination
paginate: 5
paginate_path: "/page:num/"
